{% extends "base.html.twig" %}

{% block title %}AppBundle:Reporting:listCourse{% endblock %}

{% block body %}
<div class="research_form">
<h1>Welcome to the Reporting:listCourse page</h1>

{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.search) }}

    {{ form_row(form.submit, { 'label': 'Submit me' }) }}
{{ form_end(form) }}
</div>


{% endblock %}
